.loginContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

.loginCard {
  width: 30em;
}

.loginCardHeader {
  background-color: var(--accent) !important;
  color: var(--wb) !important;
  font-weight: 800;
  font-size: 1.5em;
}

.loginCardBody {
  background-color: var(--white);
  height: auto;
}

.loginPrefix {
  background-color: var(--invert) !important;
  color: var(--bw) !important;
}

.loginSuffix {
  background-color: var(--invert) !important;
  color: var(--bw) !important;

  &:hover {
    background-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}

.loginButton {
  background-color: var(--invert) !important;
  border-color: var(--invert) !important;
  color: var(--bw) !important;
  font-size: 1.25em !important;
  font-weight: 700 !important;
  height: 2.5em;

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}

.registerButton {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: var(--bw) !important;
  font-size: 1.25em !important;
  font-weight: 700 !important;
  height: 2.5em;

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}