.logoutMenu {
  color: var(--wb);
}

.logoutButton {
  margin-left: 0.5em !important;
  // background-color: var(--accent) !important;
  // border-color: var(--accent) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 5px !important;
  color: var(--wb) !important;
  font-weight: 700 !important;
  box-shadow: none !important;

  &:hover {
    background-color: var(--invert) !important;
    border-color: var(--invert) !important;
    color: var(--bw) !important;
  }
}

.avatarWrapper {
  display: inline-block;
  height: 40px !important;
  width: 40px !important;
  padding-left: 10px;
  margin-right: 10px;
}

.avatar {
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--accent);
  object-fit:cover;
  text-align: center;
}