.registerCardBody {
  background-color: var(--white);
  height: auto;
}

.registerPrefix {
  background-color: var(--invert)  !important;
  color: var(--bw)  !important;
}

.registerSuffix {
  background-color: var(--invert)  !important;
  color: var(--bw)  !important;

  &:hover {
    background-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}

.registerButton {
  background-color: var(--invert)  !important;
  border-color: var(--invert)  !important;
  color: var(--bw) !important;
  font-size: 1.25em !important;
  font-weight: 700 !important;
  height: 2.5em;

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}

.registerButton {
  background-color: var(--secondary)  !important;
  border-color: var(--secondary)  !important;
  color: var(--bw) !important;
  font-size: 1.25em !important;
  font-weight: 700 !important;
  height: 2.5em;

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--wb) !important;
  }
}