.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary);
}

.homeInnerContainer {
  @media only screen and (max-width: 992px) {
    padding-top: 60px;
  }
}

.header {
  font-size: 50px;
  font-weight: 700;
  color: var(--wb);
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--bw)
  }

  @media only screen and (max-width: 992px) {
    font-size: 9vw;
  }
}

.headerUnderline {
  border-bottom: 5px solid var(--accent);
}