.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary);
}

.header {
  font-size: 50px;
  font-weight: 700;
  color: var(--wb);
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--bw)
  }
}

.headerUnderline {
  border-bottom: 5px solid var(--accent);
}